body {
    font-family: Arial, sans-serif;
    
    /* Arka plan resmi ayarları */
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=1920&q=80'); /* Manzara resmi linki */
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
    margin: 0;
    padding: 0;
}

/* Menü Tasarımı */
nav {
    background-color: #a90432;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    
    opacity: 0.95; 
}

nav a {
    color: black; 
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: bold; 
}

/* İçerik Kutusu Tasarımı */
.kutu {
    background-color: #FDB912;
    width: 80%;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    
    
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); 
}

h1 {
    color: #000000;
    border-bottom: 2px solid #a90432;
    padding-bottom: 10px;
}