body {
    font-family: Arial, sans-serif;
    background-color: #7a7777;
    margin: 0;
    padding: 0;
}

/* Menü Tasarımı */
nav {
    background-color: #a90432;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
}

/* İçerik Kutusu Tasarımı */
.kutu {
    background-color: #FDB912;
    width: 80%;
    margin: 40px auto; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(90, 107, 65, 0.1);
}

h1 {
    color: #000000;
    border-bottom: 2px solid #a90432;
    padding-bottom: 10px;
}